<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>task Scheduler</title>

        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- scripts -->
		<script type="module" src="/src/script.js"></script>

        <!-- style -->
        <link rel="stylesheet" type="text/css" href="/style/main.css">
        <link rel="stylesheet" type="text/css" href="/style/list.css">
        <link rel="stylesheet" type="text/css" href="/style/gantt.css">
<!-- 
        Frappe Gantt
        <script src="dist/frappe-gantt.min.js"></script>
        <link rel="stylesheet" href="dist/frappe-gantt.min.css"> 
 -->
    </head>

<body>
    
    <div class="container">
